/**************************** STRUCTURE *******************************************/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #dcd3c2;
}

.experiences {
    margin-left: 80px;
    padding-bottom: 70px;
}

p {
    font-size: 20px;
}

h2 {
    font-size: 50px;
    color: #008395;
}

h3 {
    font-size: 30px;
}

.button a{
    margin-top: 50px;
    width: 40px;
    height: 55px;
    border-radius: 30px; 
    background-color: #dba1b9;
    text-align: center;
    font-size: 20px;
    font-weight: 50;
    padding: 5px;
    text-decoration: none;
    color: white;
}

.button:hover a{
    background-color: #ffadad;
}

.button:active a {
    background-color: #A9A9A9;
    color: #808080;
}

/**************************** NAVBAR *******************************************/
nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

ul {
    display:flex;
    list-style-type: none;
    width: 700px;
    justify-content: space-around;
    font-size: 30px;
}

.link {
    text-decoration: none;
    color: white;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.link:hover {
    color: #ffadad;
}

h1 {
    font-size: 90px;
    margin: 0;
}

.text {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    
    #nav-list {
        display: none;
        background-color: black;
        margin: 0px;
    }

    #nav-list.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: black;
    }

    .logo {
        display: none;
    }

}

/**************************** LOGO *********************************************/
.logo {
    height: 150px;
    margin: 30px;
}

/**************************** ARROW *******************************************/
#scroll {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
  }

  #scroll img {
    width: 25px;
  }

  /**************************** FOOTER *******************************************/
footer {
    background-color: black;
    text-align: center;
    padding: 40px;
}

.copyright {
    font-size: 20px;
    padding: 0 30%;
    color:#dba1b9
}

/* ********************************* SLIDER ******************************************* */

/* * { */
    /* margin: 0;
    padding: 0; */
    /* box-sizing: border-box;
} 

.slider {
    height: 50vh;
    position: relative;
}

 .slider img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .10s;
}

.slider img.active {
    opacity: 1;
}

.next, .previous {
    color: #dba1b9;
    opacity: 0.5;
    font-size: 6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.next {
    right: 1rem;
}

.previous {
    left: 1rem;
}

.img__slider {
    height: 50px;
    width: 25px;
} */

/* .img__slider {
background-size: contain;
height: 
width: 
} */