<!--===== ABOUT =====-->
{% block body %}
<main>
        <section class="sub-section-one" id="who">
            <div class="information">
                <h2>Welcome !</h2>
                <p class="text">Bonjour visiteur ! Je m'appelle Florent et suis développeur junior Back-End
                    centré (pour le moment) sur les technologies PHP7 et Symfony 6.1.
                    J'ai également des connaissances en Javascript Vanilla, HTML5, CSS3 et Bootstrap.</p>
                <p class="text">J'ai auparavant évolué dans les secteurs de l'évènementiel culturel et du commerce BtoC.
                </p>
                <p class="text">J'ai choisi de relever de nouveaux défis, de sortir de ma zone de confort en me réorientant vers le développement web. 
                   Je trouve intéressant de rejoindre un secteur faisant la part belle à la curiosité, la créativité 
                   et l’analyse me permettant de valoriser des compétences acquises lors de mes précédentes expériences.</p>
            </div>
            <div class="portrait-container">
                <img class="head" src="{{ asset('images/portrait/photocv.jpg') }}" alt="Welcome">
            </div>
        </section>

{% endblock %}