   <!--===== FOOTER =====-->
   {% block footer %}
   <footer>
        <div class="copyright">
            <span class="copyright-logo">
                <!--Copyright-->&#169
                <!----> <strong>Florent Genestier</strong>{2022}</span>
        </div>
    </footer>
    {% endblock %}

    <!--===== JS FILES =====-->
     {% block javascripts %}
    <script src="{{ absolute_url('https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js') }}" referrerpolicy="no-referrer"></script>
    <script src="{{ asset('scripts/hamburger.js') }}"></script>
    <script src="{{ asset('scripts/script.js') }}"></script>
    <script src="{{ asset('scripts/slider.js') }}"></script>
    {% endblock %}
</body>

</html>