<nav>
            <img class="logo" src="public/images/logo/lg.png" alt="Flo's logo">
            <ul id="nav-list">
                <li><a href="#who">Qui ?</a></li>
                <li><a href="#dev-project">Projets</a></li>
                <li><a href="experience.php">Experience</a></li>
                <li><a href="public/pdf/CV-FlorentGenestier-Dev.pdf">Mon CV</a></li>
                <button class="hamburger" id="hamburger">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="#008395" width="45" height="45" fill="currentColor"
                        class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </button>
            </ul>
        </nav>