/**************************** STRUCTURE *******************************************/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    background-color: #dcd3c2;
}

h2 {
    font-size: 50px;
    color: #008395;
}

.perso {
    background-color: black;
    height: 90vh;
    color: white;
    font-size: 40px;
}

.perso-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.perso-text{
    margin-left: 80px;
    margin-bottom: 400px;
}

.subtext {
    font-size: 15px;
    font-weight: 300px;
}

/**************************** NAVBAR *******************************************/
nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display:flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li, a{
    text-decoration: none;
    color: white;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

li, a:hover {
    color: #ffadad;
}

h1 {
    font-size: 90px;
    margin: 0;
}

.text {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    .ul {
        display: none;
        background-color: black;
        margin: 0px;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: black;
    }

    .logo {
        display: none;
    }

}

/**************************** LOGO *********************************************/
img {
    height: 150px;
    margin: 30px;
}

/**************************** SECTION WHO **************************************/
.sub-section-one{
    display: flex;
    justify-content: space-around;
    padding: 80px;
   
}

.head {
    width: 400px;
    height: 500px;
    border-radius: 200px;
    margin-left: 80px;
}

.portrait-container {
    display: flex;
    align-items: center;
}

/****************************PROJETS**********************************************/
.sub-section-two{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
 }

.project-container {
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-card {
    width: 600px;
    height: 1000px;
    margin: 10px;
   
}

.bio {
    width: 400px;
    height: 500px;;
    margin: 10px;
    border-radius: 45px;
}

.clos {
    width: 400px;
    height: 500px;;
    margin: 10px;
    border-radius: 45px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.team a {
    color: #008395;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}
.team a:hover {
    color: #dba1b9;
}
.eyeglasses {
    width: 35px;
}

/**************************** ICON SOCIALS *******************************************/
#socials {
    padding-bottom: 200px;
    /* margin: 30px; */
}

#socials a {
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
}

#socials a:hover{
    transform: scale(1.5);
    transition: 0.1s;
}

/**************************** FOOTER *******************************************/
footer {
    background-color: black;
    text-align: center;
    padding: 40px;
}

.copyright {
    font-size: 20px;
    padding: 0 30%;
    color:#dba1b9
}

/**************************** ARROW *******************************************/
#scroll {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
  }

  #scroll img {
    width: 25px;
  }
