{% extends 'front/room/base-room.html.twig' %}

{# {% block title %}Room{% endblock %} #}

{% block body %}

 <section>
  <div id="picture">
      <h1 class="title-room">Nos chambres</h1>
  </div>
    </section>

  <section class="Room">
  <div class="text-presentation">
    <div class="rectangle"></div>
          <p>Nous vous garantissons des chambres chaleureuses à mi-chemin entre modernité et terroir.
             Détendez-vous dans nos pièces typiques, vous vous sentirez chez vous, après vos randonnées, visites et baignades.
            Venez vous détendre dans une ferme familiale avec vue sur une magnifique forêt de pins 
            ou sur notre cour emprunte d'une histoire ouvrière, chaleureuse et paysanne.
            Nos chambres disposant chacune d'une ambiance propre et accueillante vous permettront de vous reposer sereinement, 
            seul, entre amis ou en famille.
          </p> 
          <p>Notre première chambre "Provence" dispose d'une ambiance sud-est cassera votre quotidien "livradien", armoire, salle d'eau personnelle et un petit lit supplémentaire
            seront à votre disposition dans cette pièce chargée d'histoire personnelle, où vous pourrez y laisser un chapitre de là votre.
            </p>
            <p>Cette chambre exposée sud/ouest domine la cour à l’avant de la maison et la vue panoramique vous amène jusqu’au pied du séquioa centenaire.
            Vous aurez parfois la belle surprise d’apercevoir des écureuils ou différentes espèces d'oiseaux.
            Une excellente literie King Size vous accompagnera tout au long de votre séjour.
            L’ambiance de la salle d’eau se veut également provençal et le dépaysement est garantie mais avec tout le confort attendu.
            </p>
  </div>
  </section>

  </section><div id="picture-2"></div><section>

  <section class="Room">
  <div class="text-presentation">
     <div class="rectangle-one"></div>
          <p>Notre seconde chambre "Chambon" vous baignera dans une ambiance réconfortante grâce à ses couleurs chaudes, aux teintes orangés.
             Le mobilier d'époque en bois, armoire, buffet et table de chevet, vous apportera un grand confort en plus de rangements adaptés.
             Située juste à côté d'une salle d'eau (et commodité) privative,
            </p>
            <p>Cette dernière est exposée nord/ouest et domine un grand champ à l’arrière de la maison, bordé par une forêt de sapin où il
            ne sera pas rare d'y aperçevoir la faune locale.
            Renards, sangliers, biches et autres chevreuils viendront vous saluer et vous accueillir ! De loin bien entendu.
            </p>   
  </div>
  </section>

  </section><div id="picture-3"></div><section>

  <section class="Room">
  <div class="text-presentation">
  <div class="rectangle-two"></div>
          <p>Nous vous garantissons des chambres chaleureuses à mi-chemin entre modernité et terroir.
             Détendez-vous dans nos pièces typiques, vous vous sentirez chez vous, après vos randonnées, visites et baignades.
            Venez vous détendre dans une ferme familiale avec vue sur une magnifique forêt de pins 
            ou sur notre cour emprunte d'une histoire ouvrière, chaleureuse et paysanne.
            Nos chambres disposant chacune d'une ambiance propre et accueillante vous permettront de vous reposer sereinement, 
            seul, entre amis ou en famille.
          </p> 
          <p>Une ambiance sud-est cassera votre quotidien "livradien", armoire, salle d'eau personnelle et un petit lit supplémentaire
            seront à votre disposition dans cette pièce chargée d'histoire personnelle, où vous pourrez y laisser un chapitre de là votre.
            </p>
            <p>Cette chambre exposée sud/ouest domine la cour à l’avant de la maison et la vue panoramique vous amène jusqu’au pied du séquioa centenaire.
            Vous aurez parfois la belle surprise d’apercevoir des écureuils ou différentes espèces d'oiseaux.
            Une excellente literie King Size vous accompagnera tout au long de votre séjour.
            L’ambiance de la salle d’eau se veut également provençal et le dépaysement est garantie mais avec tout le confort attendu.
            </p>
  </div>
  </section> 

  </section><div id="picture-4"></div><section>

  <section class="Room">
  <div class="text-presentation">
  <div class="rectangle-three"></div>
          <p>Nous vous garantissons des chambres chaleureuses à mi-chemin entre modernité et terroir.
             Détendez-vous dans nos pièces typiques, vous vous sentirez chez vous, après vos randonnées, visites et baignades.
            Venez vous détendre dans une ferme familiale avec vue sur une magnifique forêt de pins 
            ou sur notre cour emprunte d'une histoire ouvrière, chaleureuse et paysanne.
            Nos chambres disposant chacune d'une ambiance propre et accueillante vous permettront de vous reposer sereinement, 
            seul, entre amis ou en famille.
          </p> 
          <p>Une ambiance sud-est cassera votre quotidien "livradien", armoire, salle d'eau personnelle et un petit lit supplémentaire
            seront à votre disposition dans cette pièce chargée d'histoire personnelle, où vous pourrez y laisser un chapitre de là votre.
            </p>
            <p>Cette chambre exposée sud/ouest domine la cour à l’avant de la maison et la vue panoramique vous amène jusqu’au pied du séquioa centenaire.
            Vous aurez parfois la belle surprise d’apercevoir des écureuils ou différentes espèces d'oiseaux.
            Une excellente literie King Size vous accompagnera tout au long de votre séjour.
            L’ambiance de la salle d’eau se veut également provençal et le dépaysement est garantie mais avec tout le confort attendu.
            </p>
  </div>
    </section> 

    </section><div id="picture-5"></div><section>

    <section class="Room">
    <div class="text-presentation">
    <div class="rectangle-four"></div>
            <p>Nous vous garantissons des chambres chaleureuses à mi-chemin entre modernité et terroir.
              Détendez-vous dans nos pièces typiques, vous vous sentirez chez vous, après vos randonnées, visites et baignades.
              Venez vous détendre dans une ferme familiale avec vue sur une magnifique forêt de pins 
              ou sur notre cour emprunte d'une histoire ouvrière, chaleureuse et paysanne.
              Nos chambres disposant chacune d'une ambiance propre et accueillante vous permettront de vous reposer sereinement, 
              seul, entre amis ou en famille.
            </p> 
            <p>Une ambiance sud-est cassera votre quotidien "livradien", armoire, salle d'eau personnelle et un petit lit supplémentaire
              seront à votre disposition dans cette pièce chargée d'histoire personnelle, où vous pourrez y laisser un chapitre de là votre.
              </p>
              <p>Cette chambre exposée sud/ouest domine la cour à l’avant de la maison et la vue panoramique vous amène jusqu’au pied du séquioa centenaire.
              Vous aurez parfois la belle surprise d’apercevoir des écureuils ou différentes espèces d'oiseaux.
              Une excellente literie King Size vous accompagnera tout au long de votre séjour.
              L’ambiance de la salle d’eau se veut également provençal et le dépaysement est garantie mais avec tout le confort attendu.
              </p>
    </div>
    </section>    
  
 
{% endblock %}
