{% block navigation %}
<!-- Nav -->
      <nav>
        <ul>
          <li id="logo"><a href="{{ path('app_front_home') }}">Le Clos</a>
          </li>
          <li><a href="{{ path('app_front_room_index') }}">Nos chambres</a>
          </li>
          <li><a href="{{ path('app_front_guestbook_index') }}">Livre d'Or</a>
          </li>
          <li><a href="https://www.airbnb.fr/rooms/27497196?source_impression_id=p3_1666630499_3niCityW3hwtw4rh">Réserver</a>
          </li>
        </ul>
      </nav>
 	{% block subnav %}{% endblock %}
		{% endblock %}